.wufoo {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 20px;
	background-color: #eee;
	border-radius: 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

.wufoo li {
	width: 100%;
}

.wufoo label.choice {
	font-weight: normal;
}